<div class="app">
    <div class="menu-container">
        <div class="menu-content">
            <div class="logo-container">
                <p class="title">
                    <span class="fas fa-futbol icon-spacing"></span>
                    <span class="thin-font">FIFA</span>
                    <span class="thick-font">PLANET</span>
                </p>
            </div>

            <div class="nav-container">
                <a [routerLink]="['/']">
                    <div class="menu-option">
                        <div class="option-text">
                            <p>Home</p>
                        </div>
                    </div>
                </a>

                <ng-container *ngIf="AuthService.isAuthenticated$ | async;">
                    <div class="menu-option">
                        <div class="option-text" *ngIf="AuthService.user$ | async as user">
                            <p>User: {{ user.name }}</p>
                        </div>
                    </div>
                </ng-container>

                <a [routerLink]="['/players']">
                    <div class="menu-option">
                        <div class="option-text">
                            <p>Players</p>
                        </div>
                    </div>
                </a>

                <a [routerLink]="['/skilled-players']">
                    <div class="menu-option">
                        <div class="option-text">
                            <p>Top Talents</p>
                        </div>
                    </div>
                </a>

                <a [routerLink]="['/loyal-players']">
                    <div class="menu-option">
                        <div class="option-text">
                            <p>Loyalty Royalty</p>
                        </div>
                    </div>
                </a>

                <ng-container *ngIf="AuthService.isAuthenticated$ | async;">
                    <a [routerLink]="['/create-player']">
                        <div class="menu-option">
                            <div class="option-text">
                                <p>Create A Card</p>
                            </div>
                        </div>
                    </a>
                </ng-container>

                <a href="https://www.ea.com/en-gb/games/fifa/fifa-22/buy?gclid=Cj0KCQiAqbyNBhC2ARIsALDwAsCh6RvvXUYk9ZosfSaY7wBjnDOWBtwFGDALkr9mengEV1Ho4ywWNQQaApqYEALw_wcB&gclsrc=aw.ds">
                    <div class="menu-option">
                        <div class="option-text">
                            <p>Store</p>
                        </div>
                    </div>
                </a>

                <ng-container *ngIf="AuthService.isAuthenticated$ | async; else loggedOut">
                    <div class="option-link">
                        <button class="menu-btn-option" (click)="AuthService.logout()">Logout</button>
                    </div>
                </ng-container>

                <ng-template #loggedOut>
                    <div class="option-link">
                        <button class="menu-btn-option" (click)="AuthService.loginWithRedirect()">Login</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="content-container">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
