<div class="app">
    <div class="menu-container">
        <div class="menu-content">
            <div class="logo-container">
                <p class="title">
                    <span class="fas fa-futbol icon-spacing"></span>
                    <span class="thin-font">FIFA</span>
                    <span class="thick-font">PLANET</span>
                </p>
            </div>

            <div class="nav-container">
                <a [routerLink]="['/']" class="option-link">
                    <div class="menu-option">
                        <div class="option-text">
                            <p>Home</p>
                        </div>
                    </div>
                </a>

                <a [routerLink]="['/players']" class="option-link">
                    <div class="menu-option">
                        <div class="option-text">
                            <p>Players</p>
                        </div>
                    </div>
                </a>

                <a [routerLink]="['/skilled-players']" class="option-link">
                    <div class="menu-option">
                        <div class="option-text">
                            <p>Top Talents</p>
                        </div>
                    </div>
                </a>

                <a [routerLink]="['/skilled-players']" class="option-link">
                    <div class="menu-option">
                        <div class="option-text">
                            <p>Loyalty Royalty</p>
                        </div>
                    </div>
                </a>

                <a [routerLink]="['/skilled-players']" class="option-link">
                    <div class="menu-option">
                        <div class="option-text">
                            <p>Create A Card</p>
                        </div>
                    </div>
                </a>

                <a href="https://www.ea.com/en-gb/games/fifa/fifa-22/buy?gclid=Cj0KCQiAqbyNBhC2ARIsALDwAsCh6RvvXUYk9ZosfSaY7wBjnDOWBtwFGDALkr9mengEV1Ho4ywWNQQaApqYEALw_wcB&gclsrc=aw.ds" class="option-link">
                    <div class="menu-option">
                        <div class="option-text">
                            <p>Store</p>
                        </div>
                    </div>
                </a>

                <a href="" class="option-link">
                    <div class="menu-option">
                        <div class="option-text">
                            <p>Login</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="content-container">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>