<div *ngFor="let review of player_review | async">
    <div class="heading">
        <p class="page-title">Edit {{ review.username }}'s Review</p>
    </div>

    <ng-container *ngIf="AuthService.isAuthenticated$ | async; else loggedOut">
        <div class="form glass-effect">
            <form [formGroup]="editPlayerReviewForm" (ngSubmit)="updateReview()">
                <div class="form-inputs">
                    <div class="form-row">
                        <div class="form-data">
                            <div class="form-name">
                                <div class="label-bg">
                                    <label for="name" class="form-label">Name:</label>
                                </div>

                                <div class="input-bg" [ngClass]="{ 'error-input' : isInvalid('name') }">
                                    <input type="text" id="name" name="name" class="form-input" formControlName="name" [(ngModel)]="review.username">
                                </div>

                                <div class="clearFix"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-data">
                            <div class="form-review">
                                <div class="label-bg">
                                    <label for="review" class="form-label">Review:</label>
                                </div>

                                <div class="input-bg" [ngClass]="{ 'error-input' : isInvalid('review') }">
                                    <input type="text" id="review" name="review" class="form-input" formControlName="review" [(ngModel)]="review.comments">
                                </div>

                                <div class="clearFix"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-data">
                            <div class="form-rating">
                                <div class="label-bg">
                                    <label for="rating" class="form-label">Rating:</label>
                                </div>

                                <div class="input-bg">
                                    <select id="stars" name="stars" class="form-select" formControlName="stars" [(ngModel)]="review.rating">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                    </select>
                                </div>

                                <div class="clearFix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <div class="submit-btn-container">
                        <button type="submit" class="submit-btn">UPDATE REVIEW</button>
                    </div>
                </div>

                <div class="clearfix"></div>
            </form>
        </div>
    </ng-container>

    <ng-template #loggedOut>
        <div class="incomplete-message-container" style="padding-block-start: 20px;">
            <p class="incomplete-message">You Must Be Signed In To Edit A Review</p>
        </div>
    </ng-template>
</div>
