<div *ngFor="let player of player | async">
    <div class="heading">
        <p class="page-title">Edit {{ player.short_name }}'s Stats</p>
    </div>

    <form [formGroup]="editPlayerForm" (ngSubmit)="updatePlayer()">
        <div class="player-builder-container">
            <div class="player-card-section">
                <div class="fifa-card">
                    <div class="player-rating stat-font">
                        <div [ngClass]="{ 'error-input' : isInvalid('rating') }">
                            <input type="text" id="rating" name="rating" class="form-input" formControlName="rating" [(ngModel)]="player.overall">
                        </div>
                    </div>

                    <div class="player-position stat-font">
                        <div [ngClass]="{ 'error-input' : isInvalid('position') }">
                            <input type="text" id="position" name="position" class="form-input" formControlName="position" [(ngModel)]="player.club_position">
                        </div>
                    </div>

                    <div class="player-country fifa-img stat-font">
                        <div class="nationality-align">
                            <img [src]="player.nation_flag_url" [alt]="player.nationality_name" class="nationality">
                        </div>
                    </div>

                    <div class="player-club stat-font">
                        <div class="club-align">
                            <img [src]="player.club_logo_url" [alt]="player.club_name" class="club">
                        </div>
                    </div>

                    <div class="player-photo stat-font">
                        <div class="player-img">
                            <img [src]="player.player_face_url" [alt]="player.short_name" class="photo">
                        </div>
                    </div>

                    <div class="player-name stat-font">
                        <div class="name-align">
                            <div [ngClass]="{ 'error-input' : isInvalid('name') }">
                                <input type="text" id="name" name="name" class="form-input" formControlName="name" [(ngModel)]="player.short_name">
                            </div>
                        </div>
                    </div>

                    <div class="player-pace stat-font">
                        <div [ngClass]="{ 'error-input' : isInvalid('pace') }">
                            <input type="text" id="pace" name="pace" class="form-input" formControlName="pace" [(ngModel)]="player.pace">
                        </div>
                    </div>

                    <div class="player-shooting stat-font">
                        <div [ngClass]="{ 'error-input' : isInvalid('shooting') }">
                            <input type="text" id="shooting" name="shooting" class="form-input" formControlName="shooting" [(ngModel)]="player.shooting">
                        </div>
                    </div>

                    <div class="player-passing stat-font">
                        <div [ngClass]="{ 'error-input' : isInvalid('passing') }">
                            <input type="text" id="passing" name="passing" class="form-input" formControlName="passing" [(ngModel)]="player.passing">
                        </div>
                    </div>

                    <div class="player-dribbling stat-font">
                        <div [ngClass]="{ 'error-input' : isInvalid('dribbling') }">
                            <input type="text" id="dribbling" name="dribbling" class="form-input" formControlName="dribbling" [(ngModel)]="player.dribbling">
                        </div>
                    </div>

                    <div class="player-defending stat-font">
                        <div [ngClass]="{ 'error-input' : isInvalid('defending') }">
                            <input type="text" id="defending" name="defending" class="form-input" formControlName="defending" [(ngModel)]="player.defending">
                        </div>
                    </div>

                    <div class="player-physical stat-font">
                        <div [ngClass]="{ 'error-input' : isInvalid('physic') }">
                            <input type="text" id="physic" name="physic" class="form-input" formControlName="physic" [(ngModel)]="player.physic">
                        </div>
                    </div>
                </div>
            </div>

            <div class="all-stats-container glass-effect">
                <div class="stats-container">
                    <!-- PACE -->
                    <div class="stat-heading">
                        <div class="sh-align">
                            <p>PACE</p>
                        </div>
                    </div>

                    <div class="stats">
                        <div class="stat-row">
                            <div class="row-title">Acceleration</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('acceleration') }">
                                    <input type="text" id="acceleration" name="acceleration" class="form-input-stats" formControlName="acceleration" [(ngModel)]="player.movement_acceleration">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Sprint Speed</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('speed') }">
                                    <input type="text" id="speed" name="speed" class="form-input-stats" formControlName="speed" [(ngModel)]="player.movement_sprint_speed">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>
                    </div>
                </div>

                <div class="stats-container">
                    <!-- SHOOTING -->
                    <div class="stat-heading">
                        <div class="sh-align">
                            <p>SHOOTING</p>
                        </div>
                    </div>

                    <div class="stats">
                        <div class="stat-row">
                            <div class="row-title">Positioning</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('positioning') }">
                                    <input type="text" id="positioning" name="positioning" class="form-input-stats" formControlName="positioning" [(ngModel)]="player.mentality_positioning">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Finishing</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('finishing') }">
                                    <input type="text" id="finishing" name="finishing" class="form-input-stats" formControlName="finishing" [(ngModel)]="player.attacking_finishing">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Shot Power</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('shotPower') }">
                                    <input type="text" id="shotPower" name="shotPower" class="form-input-stats" formControlName="shotPower" [(ngModel)]="player.power_shot_power">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Long Shots</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('longShots') }">
                                    <input type="text" id="longShots" name="longShots" class="form-input-stats" formControlName="longShots" [(ngModel)]="player.power_long_shots">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Volleys</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('volleys') }">
                                    <input type="text" id="volleys" name="volleys" class="form-input-stats" formControlName="volleys" [(ngModel)]="player.attacking_volleys">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Penalties</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('penalties') }">
                                    <input type="text" id="penalties" name="penalties" class="form-input-stats" formControlName="penalties" [(ngModel)]="player.mentality_penalties">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>
                    </div>
                </div>

                <div class="stats-container">
                    <!-- PASSING -->
                    <div class="stat-heading">
                        <div class="sh-align">
                            <p>PASSING</p>
                        </div>
                    </div>

                    <div class="stats">
                        <div class="stat-row">
                            <div class="row-title">Vision</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('vision') }">
                                    <input type="text" id="vision" name="vision" class="form-input-stats" formControlName="vision" [(ngModel)]="player.mentality_vision">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Crossing</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('crossing') }">
                                    <input type="text" id="crossing" name="crossing" class="form-input-stats" formControlName="crossing" [(ngModel)]="player.attacking_crossing">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Free Kick Accuracy</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('freeKickAccuracy') }">
                                    <input type="text" id="freeKickAccuracy" name="freeKickAccuracy" class="form-input-stats" formControlName="freeKickAccuracy" [(ngModel)]="player.skill_fk_accuracy">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Short Passing</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('shortPassing') }">
                                    <input type="text" id="shortPassing" name="shortPassing" class="form-input-stats" formControlName="shortPassing" [(ngModel)]="player.attacking_short_passing">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Long Passing</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('longPassing') }">
                                    <input type="text" id="longPassing" name="longPassing" class="form-input-stats" formControlName="longPassing" [(ngModel)]="player.skill_long_passing">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Curve</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('curve') }">
                                    <input type="text" id="curve" name="curve" class="form-input-stats" formControlName="curve" [(ngModel)]="player.skill_curve">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>
                    </div>
                </div>

                <div class="stats-container">
                    <!-- DRIBBLING -->
                    <div class="stat-heading">
                        <div class="sh-align">
                            <p>DRIBBLING</p>
                        </div>
                    </div>

                    <div class="stats">
                        <div class="stat-row">
                            <div class="row-title">Agility</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('agility') }">
                                    <input type="text" id="agility" name="agility" class="form-input-stats" formControlName="agility" [(ngModel)]="player.movement_agility">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Balance</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('balance') }">
                                    <input type="text" id="balance" name="balance" class="form-input-stats" formControlName="balance" [(ngModel)]="player.movement_balance">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Reactions</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('reactions') }">
                                    <input type="text" id="reactions" name="reactions" class="form-input-stats" formControlName="reactions" [(ngModel)]="player.movement_reactions">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Ball Control</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('ballControl') }">
                                    <input type="text" id="ballControl" name="ballControl" class="form-input-stats" formControlName="ballControl" [(ngModel)]="player.skill_ball_control">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Dribbling</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('skillDribbling') }">
                                    <input type="text" id="skillDribbling" name="skillDribbling" class="form-input-stats" formControlName="skillDribbling" [(ngModel)]="player.skill_dribbling">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Composure</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('composure') }">
                                    <input type="text" id="composure" name="composure" class="form-input-stats" formControlName="composure" [(ngModel)]="player.mentality_composure">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>
                    </div>
                </div>

                <div class="stats-container">
                    <!-- DEFENDING -->
                    <div class="stat-heading">
                        <div class="sh-align">
                            <p>DEFENDING</p>
                        </div>
                    </div>

                    <div class="stats">
                        <div class="stat-row">
                            <div class="row-title">Interceptions</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('interceptions') }">
                                    <input type="text" id="interceptions" name="interceptions" class="form-input-stats" formControlName="interceptions" [(ngModel)]="player.mentality_interceptions">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Heading Accuracy</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('headingAccuracy') }">
                                    <input type="text" id="headingAccuracy" name="headingAccuracy" class="form-input-stats" formControlName="headingAccuracy" [(ngModel)]="player.attacking_heading_accuracy">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Defensive Awareness</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('defensiveAwareness') }">
                                    <input type="text" id="defensiveAwareness" name="defensiveAwareness" class="form-input-stats" formControlName="defensiveAwareness" [(ngModel)]="player.defending_marking_awareness">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Standing Tackle</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('standingTackle') }">
                                    <input type="text" id="standingTackle" name="standingTackle" class="form-input-stats" formControlName="standingTackle" [(ngModel)]="player.defending_standing_tackle">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Sliding Tackle</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('slidingTackle') }">
                                    <input type="text" id="slidingTackle" name="slidingTackle" class="form-input-stats" formControlName="slidingTackle" [(ngModel)]="player.defending_sliding_tackle">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>
                    </div>
                </div>

                <div class="stats-container">
                    <!-- PHYSICAL -->
                    <div class="stat-heading">
                        <div class="sh-align">
                            <p>PHYSICAL</p>
                        </div>
                    </div>

                    <div class="stats">
                        <div class="stat-row">
                            <div class="row-title">Jumping</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('jumping') }">
                                    <input type="text" id="jumping" name="jumping" class="form-input-stats" formControlName="jumping" [(ngModel)]="player.power_jumping">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Stamina</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('stamina') }">
                                    <input type="text" id="stamina" name="stamina" class="form-input-stats" formControlName="stamina" [(ngModel)]="player.power_stamina">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Strength</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('strength') }">
                                    <input type="text" id="strength" name="strength" class="form-input-stats" formControlName="strength" [(ngModel)]="player.power_strength">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>

                        <div class="stat-row">
                            <div class="row-title">Aggression</div>
                            <div class="row-value">
                                <div [ngClass]="{ 'error-input' : isInvalid('aggression') }">
                                    <input type="text" id="aggression" name="aggression" class="form-input-stats" formControlName="aggression" [(ngModel)]="player.mentality_aggression">
                                </div>
                            </div>
                            <div class="clearFix"></div>
                        </div>
                    </div>
                </div>

                <div class="clearFix"></div>
            </div>

            <div class="form-actions">
                <div class="submit-btn-container">
                    <button type="submit" class="submit-btn">UPDATE PLAYER</button>
                </div>
            </div>
        </div>
    </form>
</div>
