<div class="heading">
    <p class="page-title">Home</p>
</div>

<div class="intro">
    <p class="plain-text">
        Welcome to FIFAPLANET! Here you can find all the information you need about any player in FIFA 22 such as their rating, full name, in-game attributes and much more. You can also see how different chemistry styles will affect a player's in-game stats,
        get a list of loyal players (players who have been at the same club for over 10 years) and the most skillful players in FIFA 22 (players that have 5 star skills and 5 star weak foot).
    </p>
</div>

<div class="block-colour">
    <div class="l-img-container">
        <div class="player-img">
            <img [src]="ronaldoImagePath" alt="Ronaldo" style="width: 80%;">
        </div>
    </div>

    <div class="r-txt-container">
        <div class="txt-content">
            <div class="card-title">
                Explore Players
            </div>

            <div class="plain-text info-para">
                Dive into depth on every player in the FIFA 22 Game. Explore the stats and traits of over 19,000 players ranging from the best players in the world, such as Ronaldo, Messi and Neymar to Hartlepool's goalkeepers - Jonathan Mitchell.
            </div>

            <a [routerLink]="['/players']">
                <div class="action-btn">
                    <p>Go Explore</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="border-colour">
    <div class="l-txt-container">
        <div class="txt-content">
            <div class="card-title">
                What Do You Think About Players?
            </div>

            <div class="plain-text">
                Don't let other players suffer the same diffculties you have by wasting coins on players that are useless, leave an review on different players and tell the community what you think of them! In the review you can leave a rating and a comment so don't
                hold back!
            </div>
        </div>
    </div>

    <div class="r-img-container">
        <div class="player-img">
            <img [src]="messiImagePath" alt="Ronaldo" style="width: 80%;">
        </div>
    </div>
</div>

<div class="block-colour">
    <div class="l-img-container">
        <div class="player-img">
            <img [src]="neymarImagePath" alt="Ronaldo" style="width: 80%;">
        </div>
    </div>

    <div class="r-txt-container">
        <div class="txt-content">
            <div class="card-title">
                Create Your Own FIFA Card
            </div>

            <div class="plain-text info-para">
                Build you own fifa card or change the cards that are ready exist! Every feild is customizable, from the players name to their rating and even the club and country they play for.
            </div>

            <a>
                <div class="action-btn">
                    <p>Build Now</p>
                </div>
            </a>
        </div>
    </div>
</div>