.heading {
    width: 100%;
    margin-block-start: 30px;
    margin-block-end: 20px;
}

.card-holder {
    width: 100%;
    margin-block-end: 50px;
    text-align: center;
}


/* Card */

.fifa-card {
    width: 300px;
    height: 429px;
    margin: auto;
    margin-block-start: 10px;
    margin-block-end: 10px;
    color: #4d3321;
}

.fifa-img {
    display: flex;
    align-items: center;
}

.outfield {
    background-image: url('./card/outfield/basic.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.goalkeeper {
    background-image: url('./card/outfield/basic.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.stat-font {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 300;
}

.player-rating {
    position: absolute;
    transform: translate(-50%, 0);
    left: 80px;
    top: 55px;
    font-size: 35px;
    font-weight: 1000;
}

.player-position {
    position: absolute;
    transform: translate(-50%, 0);
    left: 82px;
    top: 102px;
    font-size: 20px;
}

.player-country {
    width: 35px;
    height: 22.5px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 80px;
    top: 137px;
}

.nationality-align {
    width: 100%;
    height: 22.5px;
    text-align: center;
}

.nationality {
    height: 22.5px;
}

.player-club {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 80px;
    top: 170px;
}

.club-align {
    width: 100%;
    height: 42.5px;
    text-align: center;
}

.club {
    height: 100%;
}

.player-photo {
    width: 150px;
    height: 150px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 186px;
    top: 75px;
}

.player-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.photo {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.player-name {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 225px;
    width: 231px;
    height: 40px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.name-align {
    width: 100%;
    text-align: center;
}

.player-pace {
    position: absolute;
    transform: translate(-50%, 0);
    left: 75px;
    top: 267px;
    font-weight: 200;
    font-size: 22px;
}

.player-shooting {
    position: absolute;
    transform: translate(-50%, 0);
    left: 75px;
    top: 294.5px;
    font-weight: 200;
    font-size: 22px;
}

.player-passing {
    position: absolute;
    transform: translate(-50%, 0);
    left: 75px;
    top: 322px;
    font-weight: 200;
    font-size: 22px;
}

.player-dribbling {
    position: absolute;
    transform: translate(-50%, 0);
    left: 185px;
    top: 267px;
    font-weight: 200;
    font-size: 22px;
}

.player-defending {
    position: absolute;
    transform: translate(-50%, 0);
    left: 185px;
    top: 294.5px;
    font-weight: 200;
    font-size: 22px;
}

.player-physical {
    position: absolute;
    transform: translate(-50%, 0);
    left: 185px;
    top: 322px;
    font-weight: 200;
    font-size: 22px;
}


/* Auth Actions */

.auth-actions-container {
    width: 90%;
    margin: auto;
    margin-block-end: 80px;
}

.edit-action-container {
    width: 50%;
    float: left;
}

.edit-action-btn {
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
    color: #0c548d;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50%;
    max-width: 150px;
    float: right;
    text-align: center;
    opacity: 50%;
    transition: all 0.2s;
}

.edit-action-btn:hover {
    opacity: 100%;
    cursor: pointer;
}

.delete-action-container {
    width: 50%;
    float: left;
}

.delete-action-btn {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    max-width: 150px;
    float: left;
    text-align: center;
    opacity: 50%;
    transition: all 0.2s;
}

.delete-action-btn:hover {
    opacity: 100%;
    cursor: pointer;
}


/* Stats */

.all-stats-container {
    width: 90%;
    border-radius: 10px;
    margin: auto;
    margin-block-end: 150px;
}

.stats-container {
    width: calc(100% / 3);
    min-height: 300px;
    max-height: 320px;
    float: left;
}

.gk-stats-container {
    width: calc(100% / 3);
    min-height: 180px;
    max-height: 200px;
    float: left;
}

.stat-heading {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 600;
    margin-block-end: 5px;
}

.sh-align {
    width: 100%;
    text-align: center;
}

.stats {
    width: 100%;
}

.stat-row {
    width: 80%;
    margin: auto;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.row-title {
    width: 70%;
    float: left;
}

.row-value {
    width: 30%;
    float: left;
    text-align: right;
}

.action-container {
    width: 100%;
    margin-block-start: 40px;
    margin-block-end: 40px;
}

.return-container {
    width: calc(100% / 2);
    float: left;
}

.see-reviews-container {
    width: calc(100% / 2);
    float: left;
}

.action-btn {
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 15px;
    background: #34323f;
    color: white;
    display: flex;
    align-items: center;
}

.action-btn:hover {
    cursor: pointer;
}

.right-btn {
    float: right;
}

.text-align {
    width: 100%;
    text-align: center;
}


/* Reviews */

.all-reviews-container {
    width: 100%;
    margin-block-start: 50px;
    margin-block-end: 150px;
}

.review-row {
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-block-start: 80px;
    margin-block-end: 80px;
    box-shadow: none;
    border: 1px solid rgb(230, 230, 230);
    transition: all 0.2s;
}

.review-row:hover {
    cursor: pointer;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
}

.review-content {
    width: 100%;
    position: relative;
}

.review-action-container {
    position: absolute;
    transform: translate(-50%, 0);
    right: -75px;
    top: -45px;
}

.delete-review-btn {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 150px;
    text-align: center;
}

.reviewer-pic-container {
    width: 10%;
    float: left;
}

.reviewer-pic {
    width: 70px;
    height: 70px;
    margin: auto;
}

.review-data-container {
    width: calc(60% - 10px);
    height: 70px;
    display: flex;
    align-items: center;
    float: left;
    margin-inline-start: 10px;
}

.reviewer-name {
    font-weight: bolder;
}

.review-rating-container {
    width: calc(30% - 15px);
    height: 70px;
    display: flex;
    align-items: center;
    float: right;
    margin-inline-end: 15px;
}

.rating-star-align {
    width: 100%;
    text-align: right;
}


/* Forms */

.form-container {
    width: 100%;
    margin-block-start: 50px;
    margin-block-end: 150px;
}

.form {
    width: 90%;
    margin: auto;
    margin-block-start: 40px;
    margin-block-end: 40px;
}

.form-row {
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    margin: auto;
}

.form-data {
    width: 100%;
}

.form-label {
    margin-inline-end: 10px;
    width: 90px;
}

.label-bg {
    width: 100px;
    height: 50px;
    float: left;
    display: flex;
    align-items: center;
}

.input-bg {
    width: calc(100% - 100px);
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #eeeeee;
    float: left;
    float: left;
    display: flex;
}

.form-input {
    width: 95%;
    margin: auto;
    border: none;
    background: none;
    letter-spacing: 1px;
}

.form-actions {
    width: 100%;
    margin-block-start: 20px;
}

.submit-btn-container {
    width: 20%;
    padding-block-start: 30px;
    margin-inline-end: 20px;
    float: right;
}

.submit-btn {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 15px;
    background: #34323f;
    color: white;
}

.error-input {
    background-color: #f8d7da !important;
    border: 1px solid #f5c6cb !important;
    color: #721c24 !important;
}

.incomplete-message-container {
    width: 100%;
    text-align: center;
    padding-block-end: 20px;
}

.incomplete-message {
    color: #afafaf;
}
